*{
    margin: 0;
    padding: 0;
}
.grid_wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 0.6fr 0.2fr ;

}

header, footer{
    background-color:rgba(217, 217, 217, 1);
}

main{
    background: rgba(164, 164, 164, 1);
}
