*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://cdn.creativefabrica.com/2022/01/04/Wall-Background-and-Floor-Cartoon-Vector-Graphics-22902189-1.jpg");
    background-size: cover;
    background-position: bottom;

}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1%;
    animation: mouse 6s infinite;

}
.cheeze{
    display: flex;
    animation: cheeze 1s infinite;
}

@keyframes mouse{
    from{
        transform: translate(0);
    }

    20%{
        transform: translateX(20%);
    }

    40%{
        transform: translateX(40%);
    }
    50%{
        transform: translateX(50%);
    }
    60%{
        transform: translateX(60%);
    }

    80%{
        transform: translateX(80%);
    }

    to{
        transform: translateX(100%);
    }

}

@keyframes cheeze{
    from{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(30%);
    }
    to{
        transform: translateY(0%);
    }
}
